{% extends "website_base.html" %}
{% load static %}

{% block content %}
  <div class="homepage intro">
    <div>
      <p>Hello! 👋
      <p>Welcome on my website.</p>
      <p>I am a Ruby on Rails developer transitioning into "Cloud Engineering".</p>
      <p>This is a website I created while learning Python, Django, and DevOps.</p>
      <p>My recent learnings allowed me to dockerized and deployed this Django website on AWS EC2.</p>
      <p>I will use this website to write blog posts when I'll have interesting things to share.</p>
      <p>In the meantime, I use it to keep track of what I learned. 🤷</p>
    </div>
  </div>
{% endblock content %}