{% extends "website_base.html" %}
{% load static %}

{% block content %}
  <div class="w-full subpixel-antialiased">
    <!-- PROJECTS -->
    <div id="projects" class="mt-22">
      <p class="mb-1 cursor-pointer text-sm font-semibold text-gray-900 hover:text-gray-600">
        Video of me rubber ducking/calling for help because Ngnix is mean 🥲
      </p>
      <div style="position: relative; padding-bottom: 56.25%; height: 0;">
        <iframe src="https://www.loom.com/embed/7340a04da5ed4865a7661b028b6f181d"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
        </iframe>
      </div>
      <p class="mt-1 text-orange-800"><span class="text-orange-800 font-semibold">NB:</span> Of course the ip is no longer the same now 😉</p>

      <div class="projects-wrapper">
        <!-- Cloud Cruder -->
        <div class="project flex justify-between mt-10">
          <div class="w-full">
            <p class="w-full flex flex-wrap gap-x-2">
              <span class="relative z-10 mt-2 rounded bg-slate-200 py-1 px-2 font-small text-sm text-gray-600 hover:bg-slate-300 whitespace-nowrap">
                DevOps
              </span>
              <span class="relative z-10 mt-2 rounded bg-slate-200 py-1 px-2 font-small text-sm text-gray-600 hover:bg-slate-300 whitespace-nowrap">
                Django
              </span>
              <span class="relative z-10 mt-2 rounded bg-slate-200 py-1 px-2 font-small text-sm text-gray-600 hover:bg-slate-300 whitespace-nowrap">
                PostgreSQL
              </span>
              <span class="relative z-10 mt-2 rounded bg-slate-200 py-1 px-2 font-small text-sm text-gray-600 hover:bg-slate-300 whitespace-nowrap">
                TailwindCSS
              </span>
              <span class="relative z-10 mt-2 rounded bg-slate-200 py-1 px-2 font-small text-sm text-gray-600 hover:bg-slate-300 whitespace-nowrap">
                EC2
              </span>
              <span class="relative z-10 mt-2 rounded bg-slate-200 py-1 px-2 font-small text-sm text-gray-600 hover:bg-slate-300 whitespace-nowrap">
                Docker
              </span>
            </p>
            <p class="mt-4">
              This is a website I created while learning DevOps, Python, and Django.
              My learnings allowed me to dockerized and deployed this Django website on AWS EC2.
            </p>
            <p>
              I learned how to setup on AWS a <i>Load Balancer</i>, get an address from <i>Route 53</i> and create hosted
              zones and records for routing. Also learned to setup HTTPS thanks to the <i>Certificate Manager</i>,
              HTTP Redirect to HTTPS, and create Security Groups.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
