<!--{% load tailwind_tags %}-->
<!--{% load static %}-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    {% tailwind_css %}
</head>
<body class="antialiased">
<header class="website">
    <!-- navbar  -->
    <nav class="fixed top-0 inset-x-0 h-18 border-b border-gray-900 opacity-100">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-4">
                    <!-- Logo -->
                    <div class="logo-wrapper">
                        <a href="/">
                            <img src="{% static 'shared/images/maavita_logo.svg' %}" alt="Maavita logo"
                                 class="logo-img flex items-center p-3">
                        </a>
                    </div>

                    <!-- Primary nav  -->
                    <ul class="hidden md:flex items-center space-x-1">
                        <li><a href="{% url 'store_products_path' %}" class="py-5 px-3 text-gray-900 hover:text-gray-900">Store</a>
                        </li>
                        <li><a href="{% url 'website_about_path' %}" class="py-5 px-3 text-gray-900 hover:text-gray-900">About</a>
                        </li>
                    </ul>
                </div>

                <!-- Login, registration & dashboard links -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="{% url 'dashboard_root_path' %}" class="py-2 px-3 border border-solid border-black text-black
                    hover:bg-orange-800 hover:text-white transition duration-300">Dashboard</a>
                    <a href="{% url 'dashboard_root_path' %}" class="py-2 px-3 border border-solid border-black text-black
                    hover:bg-orange-800 hover:text-white transition duration-300">Sign in</a>
                    <a href="{% url 'dashboard_root_path' %}" class="py-2 px-3 border border-solid border-black text-black
                    hover:bg-orange-800 hover:text-white transition duration-300">Sign up</a>
                </div>

                <!-- mobile button goes here -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button" id="navIcon" data-controller="menu"
                            data-action="click->menu#openHideMenu">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>

            </div>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden bg-white opacity-100 border-b border-gray-900">
            <a href="{% url 'tasks_path' %}" class="block py-2 px-4 text-sm
            hover:bg-orange-800">About</a>
            <div class="space-x-1 mt-2 ml-3 mb-2">
                <a href="{% url 'dashboard_root_path' %}" class="mt-2 py-1 px-2 border border-solid border-black hover:bg-orange-800 text-black
                hover:text-white transition duration-300">Dashboard</a>
                <a href="{% url 'dashboard_root_path' %}" class="bg-transparent hover:bg-orange-800 text-gray-900 hover:text-white shadow
                hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Sign in</a>
                <a href="{% url 'dashboard_root_path' %}" class="bg-transparent hover:bg-orange-800 text-gray-900 hover:text-white shadow
                hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Sign up</a>
            </div>
        </div>
    </nav>
</header>
<main class="website flex justify-center w-full mt-5 pt-5">
    <div class="w-full max-w-5xl mt-5 pt-5">
        {% block main %}
        {% endblock %}
    </div>
</main>
<footer class="website flex flex-col p-2 bottom-0 w-full text-gray-900 border-t border-gray-900">
    <div class="text-center p-6">
        <a class="text-gray-900 font-semibold" href="{% url 'dashboard_root_path' %}">Maavita</a>
        <span>© {{ footer_date | date:"Y" }} </span>
    </div>
</footer>
</body>
</html>