<!--{% load tailwind_tags %}-->
<!--{% load static %}-->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page_title}}</title>
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
  {% tailwind_css %}
</head>
<body class="antialiased">
<header class="showroom">
  <!-- navbar  -->
  <nav class="fixed top-0 inset-x-0 h-18 border-b border-gray-900 opacity-100">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex space-x-4">
          <!-- Logo -->
          <div class="logo-wrapper">
            <a href="/">
              <img src="{% static 'shared/images/maavita_logo.svg' %}" alt="Maavita logo"
                   class="logo-img flex items-center p-3">
            </a>
          </div>

          <!-- Primary nav  -->
          <ul class="hidden md:flex items-center space-x-1">
            <li><a href="{% url 'about' %}"
                   class="py-5 px-3 text-gray-900 hover:text-gray-900">About</a></li>
          </ul>
        </div>

        <!-- Login, registration & dashboard links -->
        <div class="hidden md:flex items-center space-x-1">
          <a href="{% url 'homepage' %}" class="py-2 px-3 border border-solid border-black text-black
                    hover:bg-orange-800 hover:text-white transition duration-300">Dashboard</a>
          <a href="{% url 'homepage' %}" class="py-2 px-3 border border-solid border-black text-black
                    hover:bg-orange-800 hover:text-white transition duration-300">Sign in</a>
          <a href="{% url 'homepage' %}" class="py-2 px-3 border border-solid border-black text-black
                    hover:bg-orange-800 hover:text-white transition duration-300">Sign up</a>
        </div>

        <!-- mobile button goes here -->
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button" id="navIcon" data-controller="menu"
                  data-action="click->menu#openHideMenu">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
          </button>
        </div>

      </div>
    </div>

    <!-- mobile menu -->
    <div class="mobile-menu hidden md:hidden bg-white opacity-100 border-b border-gray-900">
      <a href="{% url 'about' %}" class="block py-2 px-4 text-sm
            hover:bg-orange-800">About</a>
      <div class="space-x-1 mt-2 ml-3 mb-2">
        <a href="{% url 'homepage' %}" class="mt-2 py-1 px-2 border border-solid border-black hover:bg-orange-800 text-black
                hover:text-white transition duration-300">Dashboard</a>
        <a href="{% url 'homepage' %}" class="bg-transparent hover:bg-orange-800 text-gray-900 hover:text-white shadow
                hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Sign in</a>
        <a href="{% url 'homepage' %}" class="bg-transparent hover:bg-orange-800 text-gray-900 hover:text-white shadow
                hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Sign up</a>
      </div>
    </div>
  </nav>
</header>
<main class="flex justify-center w-full mt-5 pt-5">
  <div class="w-full max-w-5xl mt-5 pt-5">
    {% block main %}
    {% endblock %}
  </div>
</main>
<footer class="showroom flex flex-col p-2 bottom-0 w-full text-gray-900 border-t border-gray-900">
  <div class="flex justify-between items-center m-auto pt-24 w-full max-w-5xl">
    <div>
      <p class="mb-4 text-left">
        <a href="{% url 'about' %}" class="text-gray-900 hover:text-orange-800">About</a>
      </p>
    </div>
    <div>
      <p class="flex justify-start mb-4">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope"
             class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 512 512">
          <path fill="currentColor"
                d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
          </path>
        </svg>
        info@maavita.com
      </p>
    </div>
  </div>
  <div class="text-center p-6">
    <a class="text-gray-900 font-semibold" href="{% url 'homepage' %}">Maavita</a>
    <span>© {{ footer_date | date:"Y" }} </span>
  </div>
</footer>
</body>
</html>