{% extends "base.html" %}

{% block main %}
    <!--{% load static %}-->

    <div class="container mx-auto flex flex-col my-12 md:my-10">
        <div class="flex flex-col w-full pt-4 pb-16 lg:pb-24 px-6">
            <h1 class="text-orange-800 font-bold text-6xl my-4 mb-8">Dashboard - Event detail</h1>
            {{ event }}
            <p class="mt-10 hover:text-orange-800"><a href="{% url 'events_path' %}" class="no-underline"><< Back to all events</a></p>
        </div>
    </div>
{% endblock %}