<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events - Maavita</title>
</head>
<body>
<main>
    <h1>Events <small>({{ num_events }})</small></h1>
    <ul>
        {% for event in events %}
            <li><a href="{% url 'event_detail_path' event.id %}">{{ event }}</a></li>
        {% endfor %}
    </ul>
</main>
</body>
</html>