{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CloudCruder</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header class="flex-row space-between">
    <div class="logo-wrapper">
      <a href="{% url 'website_homepage_path' %}">
        <h1>CloudCruder</h1>
      </a>
    </div>
    <nav>
      <ul class="flex-row">
        <li><a href="{% url 'blog_index_path' %}">Blog</a></li>
        <li><a href="{% url 'website_about_path' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %} {% endblock content %}
  </main>
  <footer></footer>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>