{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg" color="#2a9cbd' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title>CloudCruder</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="flex-row space-between">
  <div class="logo-wrapper">
    <a href="{% url 'website_homepage_path' %}">
      <h1>CloudCruder</h1>
    </a>
  </div>
  <div>
    <ul class="flex-row">
      <li><a href="{% url 'blog_list_url' %}">Blog</a></li>
      {#        <li><a href="{% url 'website_about_path' %}">About</a></li>#}
    </ul>
  </div>
</header>
<main>
  {% block content %} {% endblock content %}
</main>
<footer></footer>

<script src="{% static 'js/index.js' %}"></script>
</body>
</html>