* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #232323;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2
}

h2, h3, h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 37px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 18px;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

p {
  margin: 5px 0;
}

pre {
  background-color: #e1e1e1;
  padding: 5px;
}

code {
  background-color: #e1e1e1;
}

/*
  HEADER
*/
header {
  width: 100%;
  border-bottom: 1px solid #5d5d5d;
}

header .logo-wrapper h1 {
  font-size: 20px;
  padding: 15px;
}

header nav ul {
  width: 250px;
  justify-content: end;
}

header div ul.flex-row > li:nth-child(1) {
  margin-right: 20px;
}

header .logo-wrapper a:hover {
  text-decoration: none;
}


/*
  MAIN
*/
main {
  padding: 50px 5px 5px 5px;
}


/*
  Blog
*/
.post-list, .post-categories-list {
  margin: 10px 0;
}

.post-intro {
  margin: 20px 0;
}


/* --------------------------------------
 Tablet
 -------------------------------------- */
@media (min-width: 767px) {
}


/* --------------------------------------
  Desktop
 -------------------------------------- */
@media screen and (min-width: 1180px) {
  body {
    max-width: 1180px;
    margin: 0 auto;
  }

  .homepage.intro {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}